01[[:space:]]Input/from[[:space:]]UoS/Presentations/Pitch-In[[:space:]]Workshop[[:space:]]Cambridge[[:space:]]2019.pptx filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/ThermalTexture/*.7z filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/ThermalTexture/*.mp4 filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/ThermalTexture/*.gif filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/KMeansClustering/*.7z filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/ThermalAreaEstimate/*.7z filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/UnsupervisedLearning/GrabCut/*.mp4 filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/WavletAnalysis/*.mp4 filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/WavletAnalysis/*.7z filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/WavletAnalysis/Plots/imageDecomp/*.7z filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/CXDGuiViewer/*.7z filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/3D[[:space:]]Thermal[[:space:]]Reconstruction/Animations/flyingedge-surfacearea/*.7z filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/UnsupervisedLearning/Features/pi-camera-data-127001-2019-10-14T12-41-20-global/*.mp4 filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/UnsupervisedLearning/Features/pi-camera-data-127001-2019-10-14T12-41-20-unpack/*.mp4 filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/UnsupervisedLearning/Features/pi-camera-data-127001-2019-10-14T12-41-20-unpack/*.7z filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/CXDGuiViewer/*.mp4 filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/CXDGuiViewer/*.gif filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/RaspberryPiThermalCamera/ProcessData/contourPicsOnly.7z filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/ScraperRPM/Animations/*.gif filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/3D[[:space:]]Thermal[[:space:]]Reconstruction/Animations/*.mp4 filter=lfs diff=lfs merge=lfs -text
03[[:space:]]Scripts/3D[[:space:]]Thermal[[:space:]]Reconstruction/Animations/*.gif filter=lfs diff=lfs merge=lfs -text
